.ultra-settings-nav {
  margin-bottom: 1rem;
}

.ultra-settings-nav form {
  margin: 0;
}

.ultra-settings-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.ultra-settings-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.ultra-settings-table td, .ultra-settings-table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.ultra-settings-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .03);
}

.ultra-settings-code {
  font-family: monospace;
  font-size: 0.9rem;
  display: inline;
}

.ultra-settings-static {
  color: gray;
  font-style: italic;
  font-size: 0.9rem;
}

.ultra-settings-current-source {
  font-weight: 600;
  color: blue;
}

.ultra-settings-description {
  font-size: 0.9rem;
  color: gray;
}

.ultra-settings-info {
  margin-bottom: 1rem;
}

.ultra-settings-error {
  color: darkred;
}

.ultra-settings-not-applicable {
  color: #999;
  font-style: italic;
}

.ultra-settings-select {
  display: inline-block;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}