<!DOCTYPE html>

<html>
  <head>
    <title>Application Settings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      <%= @layout_css %>
      <%= css %>
    </style>
  </head>
  <body>
    <header>
      <h1>Application Settings</h1>
    </header>
    <main>
      <%= content %>
    </main>
  </body>
</html>
