<!DOCTYPE html>

<html>
  <head>
    <title>Application Configuration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no email=no date=no address=no">
    <style type="text/css">
      <%= layout_css %>
    </style>
  </head>
  <body>
    <%= content %>
  </body>
</html>
